@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body{

  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin :0px


}

@media(min-width : 650px){
  .App{
    width: 1200px;
  }
}

@media(max-width : 650px){
  .App{
    width: 90vw;
  }
}

#root{
  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.App{
  min-height: 100vh;
  /* padding-left :20px;
  padding-right: 20px; */
}




/* MyButton */
.MyButton{
  cursor: pointer;
  border: none;
  border-radius: 5px ;


  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  white-space: nowrap;
  /* font-family: "Nanum Pen Script"; */
} 

.MyButton_default{
  background-color: #ececec;
  color: black

}

.MyButton_positive{
  background-color: #64c964;
  color: white;

}
.MyButton_negative{
  background-color: #fd565f;
  color:white;

}


/* VolunteerList */
.VolunteerList{
    width: 100%; /* Take up the full width of the container */
  max-width: 1000px; /* Maximum width of 1000px */
  margin: 0 auto; /* Center align horizontally */
 
  
  
   
    
}
.VolunteerList .menu_wrapper{
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.VolunteerList .ControlMenu{
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px ;
    padding-right:20px ;

    cursor: pointer;
    font-size: 20px;



}

.VolunteerList .item{
   
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   gap:20px;
 

}

/* VolunteerItem */
.VolunteerItem{
    
    
    
    padding-bottom: 15px;
    
    
    
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.VolunteerItem .category_img_wrapper{
    cursor: pointer;
    min-width: 120px;
    height: 170px;

   
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.VolunteerItem .category_img_wrapper_1{
    background-color: #64c964;
}

.VolunteerItem .category_img_wrapper_2{
  background-color: #FFB54C;
}
.VolunteerItem .category_img_wrapper_3{
  background-color: #FFFF00;
}
.VolunteerItem .category_img_wrapper_4{
  background-color: #FF4A6E;
}
.VolunteerItem .category_img_wrapper_5{
  background-color:#A374DB;
}
.VolunteerItem .category_img_wrapper_6{
  background-color: #000080;
}
.VolunteerItem .info_wrapper{
    
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
   
    cursor: pointer;
    text-align: center;

}

.VolunteerItem .volunteer_date{
    font-weight: bold;
    font-size: 35px;
    font-family: "Nanum Pen Script";
}

.VolunteerItem .volunteer_title{
    font-size: 25px;
    font-family: "Nanum Pen Script";


}

.VolunteerItem .volunteer_content_preview{
    font-size: 20px;
    
    font-family: "Yeon Sung";

}

.VolunteerItem .btn_wrapper{

    min-width: 70px;
    margin-top: 15px;


    display: flex;
    justify-content: center;
    align-items: center;
 
}


/* Header */
header{

  width: 100%; /* Take up the full width of the container */
  max-width: 1000px; /* Maximum width of 1000px */
  margin: 0 auto;
 
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header >div{
  display:flex ;
  font-family: "Nanum Pen Script";
}

header .head_text{
  width: 50%;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

header .head_btn_left{
  width: 25%;
  justify-content: start;
  font-size: 18px;
}

header .head_btn_right{
  width: 25%;
  justify-content: end;
  font-size: 18px;
}

/* VolunteerEditor */
.VolunteerEditor {
  
}

.VolunteerEditor section {
  margin-bottom: 40px;
  
  width: 100%; /* Take up the full width of the container */
  max-width: 1000px; /* Maximum width of 1000px */
  margin: 20px auto 40px;
  
}

.VolunteerEditor h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Nanum Pen Script";
}


.VolunteerEditor .input_box{
  padding-top: 20px;
}

.VolunteerEditor .input_date {
 width: 40%;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
text-align: start;

cursor: pointer;
font-family: "Nanum Pen Script";
font-size: 20px;
}

.VolunteerEditor .category_list_wrapper {
  display: grid;
  grid-template-columns: repeat(6,auto);
  gap: 2%;
}


.loc,
.con{
  font-family: "Nanum Pen Script";
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
  

}
.detail {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;

  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;
  min-height: 300px;
  padding: 20px;


}

.VolunteerEditor .control_box{
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}



.image-upload-wrapper {
  background-color: #ececec;
  width: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  margin: 0 auto;
}

.image-preview {
  width: 200px; 
    height: 300px; 
    border: none;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.image-preview img {
  background-size: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.upload-button {
  padding-bottom: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* 이미지 업로드 버튼 스타일 */
.upload-button input[type="file"] {
  display: none; /* 실제 파일 입력 필드 숨김 */
}

.upload-button label {
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.upload-button label:hover {
  background-color: #2980b9;
}

/* 기본 이미지 스타일 */
.default-image {
  max-width: 100%;
  max-height: 100%;
}

/* 보더 스타일 */
input[type="file"] {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
}



/* CategoryItem */
.CategoryItem {
  cursor: pointer;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  /* 원래는 가로로 되는데 그냥 세로로 유지되게 만들어서, 사진과 그림 수직 유지*/
  justify-content: center;
  align-items: center;
} 

.CategoryItem img{
  width: 50%;
  margin-bottom: 20px;
}

.CategoryItem span{
  font-size: 20px;
  font-family:"Nanum Pen Script" ;
}

.CategoryItem_off{
  background-color: #ececec;
}

.CategoryItem_on_1{
  background-color: #64c964;
  color: white;
}

.CategoryItem_on_2{
  background-color: #FFB54C;
  color: white;
}

.CategoryItem_on_3{
  background-color:   #FFFF00;
  color: white;
}

.CategoryItem_on_4{
  background-color:  #FF4A6E;
  color: white;
}
.CategoryItem_on_5{
  background-color: #A374DB;
  color: white;
}

.CategoryItem_on_6{
  background-color: #000080;
  color: white;
}

/* Detail */


.DetailPage{

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
 

}

.DetailPage article{
  margin-top: 50px;
  display: flex;
}

.volunteer_img {
  width: 60%;
  padding-top: 58px;
  
  text-align: center;
  /* display: inline-block; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  
}
.volunteer_info {
  width: 40%;
  display: inline-block;
}

.volunteer_detail{
  margin-top: 50px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  margin-bottom: 50px;
}


.volunteer_img img{
  border-radius:5px ;
}
.DetailPage h4{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Nanum Pen Script";
}

.DetailPage .category_img_wrapper {
  background-image: #ececec;
  width: 216px;
  height: 216px;
  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DetailPage .category_img_wrapper_1{
  background-color: #64c964;
}

.DetailPage .category_img_wrapper_2{
  background-color: #FFB54C;
}

.DetailPage .category_img_wrapper_3{
  background-color: #FFFF00;
}

.DetailPage .category_img_wrapper_4{
  background-color: #FF4A6E;
}

.DetailPage .category_img_wrapper_5{
  background-color: #A374DB;
}

.DetailPage .category_img_wrapper_6{
  background-color: #000080;
}
.DetailPage .img{
  width: 120px;
  height: 120px;
}

.DetailPage .category_description{
  font-size: 25px;
  color: white;
  font-family: "Nanum Pen Script";
}

.DetailPage .volunteer_date_wrapper,
 .volunteer_con_wrapper,
 .volunteer_loc_wrapper,
 .volunteer_detail_wrapper
 {
  width: 100%;

  background-color: #ececec;
  border-radius: 5px ;
  display: flex;
  align-items: center;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.DetailPage .volunteer_date_wrapper p,
.volunteer_loc_wrapper p,
.volunteer_con_wrapper p ,
.volunteer_detail_wrapper p{
  
  text-align: left;
  margin: 10px;
  font-size: 20px;
  font-family: "Yeon Sung";
  font-weight: 400;
  line-height: 2.5;
}



/* Sidebar.css */
/* .mypage-container{
  max-width: 1000px;
  margin: 0 auto;

} */
.sidebar {
  

  
  width: 200px;
  
  border: 1px solid #e2e2e2 ;
  border-radius: 5px;
  
  
  top: 0;
  left: 0;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
 
  
}

.sidebar li {
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  
}

.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family:"Nanum Pen Script" ;
  
}


/* Cart */
.cart_content_wrapper{
  
  max-width: 1000px;
  margin: 80px auto;
  display: flex;
}
.cart_clickList{
  width: 80%;
}

.cart-item {

  

  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}


.cart_clickList ul {
  list-style: none;
  padding: 0;
}

.cart-item div{
  flex: 1;
  margin: 5px;
  text-align: left;
}


/* .cart-item div:first-child {
  text-align: left;
}

.cart-item div:last-child {
  text-align: right;
} */